<!--
////////////////////////////////////////////////////////////

						Catchphrase.ly
						 Page - HTML

////////////////////////////////////////////////////////////
-->

<!DOCTYPE html>
<html>

	<head>

		<title>Catchphrase.ly</title>
		
  		<!-- jQuery -->
  		<script src="/vender/jquery/dist/jquery.min.js"></script>
  		<!-- Underscore -->
  		<script src="/vender/underscore/underscore-min.js"></script>
  		<!-- Bootstrap JS -->
  		<script src="/vender/bootstrap/dist/js/bootstrap.min.js"></script>
  		<!-- Bootstrap CSS -->
  		<link rel="stylesheet" href="/vender/bootstrap/dist/css/bootstrap.min.css">
  		<!-- Local -->
		<link rel="stylesheet" type="text/css" href="/static/CSS/main.css">
		<script src="/static/Javascript/app.js"></script>						
	</head>

	<body>
		<div class="container" id="page-wrapper">
			<header class="page-header">

				<h1>Hello! <small>People</small></h1>

					<!-- alerts -->
				<div class="alert alert-success in" role="alert" id="thanks-alert"><h4>Thanks!!</h4><small>You've helped make the game bigger.</small></div>
						
				<div class="alert alert-danger in" role="alert" id="delete-alert"><h4>It's dead, Jim</h4><small>Word and clue have been deleted from the game.</small></div>
				
			</header>

			<!-- Content -->
			<div class="nav-container">
				  	 <!-- // Nav tabs // -->
					<ul class="nav nav-tabs" role="tablist">
				    	<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
				    	<li role="presentation"><a href="#game" aria-controls="game" role="tab" data-toggle="tab">Game</a></li>
				    	<li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">Review</a></li>
				    	<li></li>
				    	<button class="btn" id="contribute-button">Contribute</button>
					</ul>

					<div class="form-container" id="contribute-form">

						<form id="user-add-phrase">
							<input name="word" type="text" placeholder="Word" id="word-input" requiered>
							<br> <br>
							<input name="definition" type="text" placeholder="Clue Defintion" id="definition-input" requiered>
							<br> <br>
							<button type="submit" class="btn btn-success btn-xs">Add</button>
						</form>

						<button class="btn btn-danger btn-xs" id="word-add-cancel">Cancel</button>

						<p><small>* Help out by adding your own word and definition to make a bigger more challenging game.</small></p>
						<p><small>* When you're done click the Add button or hit <kbd>enter</kbd>.</small></p>
					</div>
						<!-- // Tab panes // -->
					<div class="tab-content">
				    	<div role="tabpanel" class="tab-pane active" id="home">Home...info</div>
				    		<!-- to play the game -->
				    	<div role="tabpanel" class="tab-pane" id="game"> 
				    		<h2>The game</h2>
				    		<button class="btn btn-primary" id="game-start">Play</button>
				    		<!-- game questions placeholder -->
				    		<div id="question-placeholder"></div>
				    	</div>

				    	<div role="tabpanel" class="tab-pane" id="review">
				    		<h2>Review game words</h2>
				    		<!-- phrase list placeholder -->
				    		<ul class="list-group" id="phrase-list"></ul>
				    	</div>
					</div>

				</div>
			<!-- <ul class="list-group" id="phrase-list">
			</ul> -->

			<!-- <div id="question-placeholder"></div> -->

			<footer>
				<p>Made by <a href="https://github.com/Nathan-O">Nathan-O</a>
			</footer>

			<script type="text/template" id="words-template">
				<li class="list-group-item">
					<strong>Word:</strong> <%= word %> <br>
					<span><strong>Definition:</strong> <%= definition %> </span>
					<button data-_id="<%= _id %>" onclick="deletePhrase(this)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</li>
			</script>

			<script type="text/template" id="question-template">
				<div>
					<h2 id="question"> <%= hint %> </h2>
					<br>
					<form id="answer-list">
						<ul>
							<label><input type="radio" name="answerRadio" value="1"> <%= answerA %> </label><br/>
							<label><input type="radio" name="answerRadio" value="2"> <%= answerB %> </label><br/>
							<label><input type="radio" name="answerRadio" value="3"> <%= answerC %> </label><br/>
							<label><input type="radio" name="answerRadio" value="4"> <%= answerD %> </label> 
						</ul>
						<br/>
						<button type="submit" class="btn btn-default" id="answer-sub" onClick="getAnswer(event)">Submit</button>
					</form>
				</div>
			</script>

				<!--
			<script type="text/template" id="answer-template">
				<label><input type="radio"> <%= a %> </label><br/>
				<label><input type="radio"> <%= b %> </label><br/>
				<label><input type="radio"> <%= c %> </label><br/>
				<label><input type="radio"> <%= d %> </label><br/>
			</script>
				-->
		</div>
	</body>

</html>





<!-- 
///////////////////////////////////////////////////////////////////

/////////// Notes

Game:
	- Multiple choice
	- Game board set up: Clue = Definition
						Answer = Word (Mul.Ch. Radio button)
	- Button click to submit answer and move to next word
	- If correct alert you're right, else alert right 
		answer was...
	- Progress bar of words gone through (bootstrap)
	- Play to ten or twenty?
	- Have difficulty levels
	- 
Nav: ** Started, needs finished **
	- Home: Splash intro for picking difficulty 
	- Contribute: User can add a word to db (no change 
		page, hidden form div)
	- Words: User can find a list of words in db.



////////////////////////////////////////////////////////////////////

/////////// Snippets

	Gameboard:
	<div>
		<h2></h2>
		<br>
		<ul>
			<li><input type="radio"></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<button>Submit</button>
	</div>


	// form from eat.ly to post new foods

	<form class="form-inline" id="new-food-form">

      <input name="name" type="text" class="form-control" id="food-name-input" placeholder="Name">

      <input name="yumminess" type="text" class="form-control" id="food-yumminess-input" placeholder="Yumminess">

      <button type="submit" class="btn btn-default">Add</button>

    </form>
    /////////////////////////////////////////////////////

    // bootstrap snippets

// tabs nav markup (w/ needed js) //

	<div>

	  // Nav tabs //
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
	    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
	    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
	    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
	  </ul>

	  // Tab panes //
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="home">...</div>
	    <div role="tabpanel" class="tab-pane" id="profile">...</div>
	    <div role="tabpanel" class="tab-pane" id="messages">...</div>
	    <div role="tabpanel" class="tab-pane" id="settings">...</div>
	  </div>

	</div>

	******* the js *******

	$('#myTabs a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})

// little X delete button //

    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>

// center a block or div//
    <div class="center-block">...</div>

// green alert //
    <div class="alert alert-success" role="alert">...</div>
    (need to js - $(alert_id).alert())

// progress bar w/ percentage //
	<div class="progress">

  		<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">

    		60%

  		</div>
	</div>


//////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
////////////////////////////////////////////////////////

    // potential custom alert box w/ neded js

    <div id="dialog" title="Alert message" style="display: none">
            <div class="ui-dialog-content ui-widget-content">
                <p>
                    <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0"></span>
                    <label id="lblMessage">
                    </label>
                </p>
            </div>
        </div>

    // ******* the js ********

$(document).ready(function(){

  $('#btnTest').click(function(){
		ShowCustomDialog();
	});

});


function ShowCustomDialog(){
                
	ShowDialogBox('Warning','Record updated successfully.','Ok','', 'GoToAssetList',null);
};

function ShowDialogBox(title, content, btn1text, btn2text, functionText, parameterList) {
    var btn1css;
    var btn2css;

    if (btn1text == '') {
        btn1css = "hidecss";
    } else {
        btn1css = "showcss";
    };

    if (btn2text == '') {
        btn2css = "hidecss";
    } else {
        btn2css = "showcss";
    };

    $("#lblMessage").html(content);

    $("#dialog").dialog({
        resizable: false,
        title: title,
        modal: true,
        width: '400px',
        height: 'auto',
        bgiframe: false,
        hide: { effect: 'scale', duration: 400 },
        buttons: [{text: btn1text,
                    "class": btn1css,
                    click: function (){                   
		        	           	$("#dialog").dialog('close');
		                    };
                },
                {
                    text: btn2text,
                    "class": btn2css,
                    click: function () {
		                        $("#dialog").dialog('close');
		                    };
                }]
    });
};

// ******* the css *******

.showcss { 
	display:block;
};

.hidecss { 
	display:none;
};




///////////////////////////////////////////////////////////////////
-->