<!--
////////////////////////////////////////////////////////////

						Catchphrase.ly
						 Page - HTML

////////////////////////////////////////////////////////////
-->

<!DOCTYPE html>
<html>

	<head>

		<title>Catchphrase.ly</title>
		
  		<!-- jQuery -->
  		<script src="/vender/jquery/dist/jquery.min.js"></script>
  		<!-- Underscore -->
  		<script src="/vender/underscore/underscore-min.js"></script>
  		<!-- Bootstrap JS -->
  		<script src="/vender/bootstrap/dist/js/bootstrap.min.js"></script>
  		<!-- Bootstrap CSS -->
  		<link rel="stylesheet" href="/vender/bootstrap/dist/css/bootstrap.min.css">
  		<!-- Font -->
  		<link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  		<!-- Local -->
		<link rel="stylesheet" type="text/css" href="/static/CSS/main.css">
		<script src="/static/Javascript/app.js"></script>						
	</head>

	<body>
		<div class="container" id="page-wrapper">
			<header class="page-header">

				<h1 id="pageTitle">Wordsmith.  <small>A word game.</small></h1>

					<!-- alerts -->
				<div class="alert alert-success in" role="alert" id="thanks-alert"><h3>Thanks!!</h3><small>You've helped make the game bigger.</small></div>
						
				<div class="alert alert-danger in" role="alert" id="delete-alert"><h3>It's dead, Jim</h3><small>Word and clue have been deleted from the game.</small></div>
				
			</header>

			<!-- Content -->
			<div class="nav-container">
				  	 <!-- // Nav tabs // -->
					<ul class="nav nav-tabs" role="tablist">
				    	<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
				    	<li role="presentation"><a href="#game" aria-controls="game" role="tab" data-toggle="tab">Game</a></li>
				    	<li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">Review</a></li>
				    	<li></li>
				    	<button class="btn" id="contribute-button">Contribute</button>
					</ul>

					<div class="form-container" id="contribute-form">

						<form id="user-add-phrase">
							<input name="word" type="text" placeholder="Word" id="word-input" requiered>
							<br> <br>
							<input name="definition" type="text" placeholder="Clue Defintion" id="definition-input" requiered>
							<br> <br>
							<button type="submit" class="btn btn-success btn-xs">Add</button>
						</form>
						<br/>
						<button class="btn btn-danger btn-xs" id="word-add-cancel">Cancel</button>
						<br/>
						<p><small>* Help out by adding your own word and definition to make a bigger more challenging game. When you're done click the Add button or hit <kbd>enter</kbd>.</small></p>
					</div>

						<!-- // Tab panes // -->
					<div class="tab-content">
				    	<div role="tabpanel" class="tab-pane active" id="home">
				    		<div class="col-md-8" id="home-page">
				    			<h1 id="homeTitle">Hello! <small>Welcome to Wordsmith.</small></h1>
				    			<br/>
				    			<h4>This simple game is nothing more than matching words to is described definition. Play as many times as you'd like, enjoy; and if you have any words you'd like to add to help make the game more challenging, just click the Contribute button at the top of the screen.</h4>
				    			<br/>
				    			<p>- Wordsmithy</p>
				    		</div>
				    	</div>
				    		<!-- to play the game -->
				    	<div role="tabpanel" class="tab-pane" id="game"> 
				    		<br/><br/>
				    			<!-- alerts -->
				    		<div class="alert alert-success in" role="alert" id="right-alert"><h3>Correct!</h3><small>Doesn't it feel good to get one right?</small></div>
						
							<div class="alert alert-danger in" role="alert" id="wrong-alert"><h3>Oops...not quite</h3><small>The word you chose was a good one. But not the right one.</small></div>

							<div class="alert alert-info in" role="alert" id="gameOver-alert"><h1>That's all!!</h1><small>Hope you enjoyed. Play again if you'd like, or go enjoy your life and have a great day!</small></div>
				    		<!-- game questions placeholder -->
				    		<div id="question-placeholder"></div>
				    		<!-- end of game placeholder -->
				    		<!-- <div id="game-end-placeholder"></div> -** doesn't work. **-->
				    		<button class="btn btn-primary btn-block" id="game-start">Play the Game</button>
				    	</div>

				    	<div role="tabpanel" class="tab-pane" id="review">
				    		<h1>Review game words</h1>
				    		<!-- phrase list placeholder -->
				    		<ul class="list-group" id="phrase-list"></ul>
				    	</div>
					</div>

				</div>

			<footer>
				<p>Made by <a href="https://github.com/Nathan-O">Nathan-O</a>
			</footer>

			<script type="text/template" id="words-template">
				<li class="list-group-item">
					<strong>Word:</strong> <%= word %> <br>
					<span><strong>Definition:</strong> <%= definition %> </span>
					<button data-_id="<%= _id %>" onclick="deletePhrase(this)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</li>
			</script>

			<script type="text/template" id="question-template">
				<div id="gameBoard">
					<h2 id="question"> <%= hint %> </h2>
					<br>
					<form id="answer-list">
						<ul>
							<label><input type="radio" name="answerRadio" value="1"> <%= answerA %> </label><br/>
							<label><input type="radio" name="answerRadio" value="2"> <%= answerB %> </label><br/>
							<label><input type="radio" name="answerRadio" value="3"> <%= answerC %> </label><br/>
							<label><input type="radio" name="answerRadio" value="4"> <%= answerD %> </label> 
						</ul>
						<br/>
						<button type="submit" class="btn btn-default" id="answer-sub" onClick="getAnswer(event)">Submit</button>
					</form>
				</div>
			</script>

			<!--/*<script type="text/template" id="end-game-template">
				<div id="gameEndScreen">
				<h2>Yay!! All Finished</h2>
				<h4> Your score is: <span> <%= points %> </span> </h4>
				</div>			// *** Couldn't get to work *** //
			</script>*/-->
		</div>
	</body>

</html>





<!-- 
///////////////////////////////////////////////////////////////////

/////////// Notes




////////////////////////////////////////////////////////////////////

/////////// Snippets




///////////////////////////////////////////////////////////////////
-->