/*
////////////////////////////////////////////////////////////////

							Name
					   Css Style Sheet

////////////////////////////////////////////////////////////////					   
*/

#gameBoard {
	border: 5px green solid;
	border-radius: 10px;
	background-color: lightgrey;
	padding: 25px;
	margin-top: 10px;
}


#contribute-form {
	z-index: 6;
	background-color: lightgrey;
	border: 5px black solid;
	padding: 20px;
	width: 450px;
	float: right;
	position: relative;
	display: none;
}

#contribute-button {
	border: 1px black solid;
	position: relative;
	float: right;
}

#delete-alert {
	display: none;
	position: relative;
}

#thanks-alert {
	display: none;
	position: relative;
}

#right-alert {
	display: none;
	position: relative;
}

#wrong-alert {
	display: none;
	position: relative;
}

#gameOver-alert {
	display: none;
	position: relative;
	height: 500px;
}

#question {
	color: green;
}






/*
////////////////////////////////////

 	      Section

////////////////////////////////////
*/



/*
////////////////////////////////////

			Section

////////////////////////////////////
*/








/*
///////////////////////////////////////////////////////////////////////////////

////////// Notes



///////////////////////////////////////////////////////////////////////////////

////////// Snippets



///////////////////////////////////////////////////////////////////////////////
*/








